@font-face {
  font-family: "Grotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/HKGrotesk-Regular.woff2") format("woff2"), 
        url("../fonts/HKGrotesk-Regular.woff") format("woff"); 
}