.dropdown-m {
  width: 672px;
  height: 315px;
  margin-top: 52px;
  box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 10%);
}

.pages-dropdown {
  width: 560px;
}

.account-dropdown {
  width: 222px;
  height: 201px;
}

.documentation-dropdown {
  width: 355px;
  height: 246px;
}

.dropdown-content,
.dropdown-content-items {
  height: 100%;
}

.left-main-dropdown-contents {
  height: 115px;
}

.left-content-dropdown {
  background-image: url('../../img/header-bg.jpg');
  height: 100%;
  background-size: cover;
  padding: 0 !important;
}

.left-dropdown-title {
  line-height: 1.45;
  font-size: 1.1875rem;
  font-weight: 600;
  letter-spacing: -.01em;
  margin-top: 1px !important;
}

.left-dropdown-paragrph {
  font-size: .9375rem !important;
}

.background-for-dropdown {
  background-color: #2f51c0ce;
  width: 100%;
  height: 100%;
}

.dropdown-item-btn {
  border-color: transparent !important;
  color: #335eea !important;
  font-size: 1.0625rem;
  padding: 0.5625rem 1rem;
  font-weight: 400;
}

.drop-account-link,
.drop-account-link-in {
  padding-right: 70%;
}

.drop-account-link::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  background-image: url('../../img/chevron-right.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 153px !important;
  margin-top: -19px !important;
}

.dropdown-mc-in {
  width: 228px;
  margin-top: -51px;
  margin-left: 190px;
  box-shadow: 0 0.5rem 3rem rgb(22 28 45 / 15%);
}

.settings-in:hover > .dropdown-mc-in,
.sign-in:hover > .sign-in-dropdow-in,
.sign-up-dropdown:hover > .sign-up-dropdow-in,
.password-reset-drop:hover > .password-reset-dropdown-in,
.error-dropdown-in:hover > .error-dropdown-in {
  display: block !important;
  animation: fade-setting .2s ease-in;
}

@keyframes fade-setting {
  from {
    opacity: 0;
    margin-top: -41px;
  }
  to {
    opacity: 1;
    margin-top: -51px;
  }
}

.right-content-dropdown {
  padding: 0;
}

.documentattion-drop-title {
  font-size: .75rem;
  line-height: 1.55;
  letter-spacing: .08em;
}

.drop-documentation-list {
  margin-top: 20px;
}

.drop-documentation-list::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url('../../img/documentation.svg');
  background-size: cover;
  margin-left: -51px;
  margin-top: 10px;
}

.drop-components-list:before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url('../../img/components.svg');
  background-size: cover;
  margin-left: -51px;
  margin-top: 10px;
}

.drop-changelog-list:before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url('../../img/changelog.svg');
  background-size: cover;
  margin-left: -51px;
  margin-top: 10px;
}

.linear-gradient-top {
  height: 1px;
  width: 120%;
  background-color: #e6e6e6;
  margin-left: -4px;
}

.cursor-pointer {
  cursor: pointer;
}