.dropdown-m {
  width: 672px;
  height: 315px;
  margin-top: 42px;
}

.dropdown-content,
.dropdown-content-items {
  height: 100%;
}

.left-content-dropdown {
  background-image: url('../../img/header-bg.jpg');
  height: 100%;
  background-size: cover;
  padding: 0 !important;
}

.left-dropdown-title {
  line-height: 1.45;
  font-size: 1.1875rem;
  font-weight: 600;
  letter-spacing: -.01em;
  margin-top: 1px !important;
}

.left-dropdown-paragrph {
  font-size: .9375rem !important;
}

.background-for-dropdown {
  background-color: #2f51c0ce;
  width: 100%;
  height: 100%;
}

.dropdown-item-btn {
  border-color: transparent !important;
  color: #335eea !important;
  font-size: 1.0625rem;
  padding: 0.5625rem 1rem;
  font-weight: 400;
}