.header,
.hero,
.firs-steps,
.sponsors-inner,
.sample {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero,
.firs-steps,
.sponsors,
.sponsors-inner,
.sample,
.main-bg {
  display: none !important;
}

.header-inner {
  margin-top: -1px;
}

.nav__navlist {
  list-style-type: none;
  margin-top: 14px;
  padding-left: 0;
  margin-right: 5px;
}

.nav__link {
  font-weight: 600;
  color: #506690;
  padding: 8px 24px;
  margin: 0;
  text-decoration: none;
  font-size: 17px;
}

.nav__link:hover {
  color: #335eea;
}

.nav__item:hover > .dropdown-m {
  display: block !important;
  animation: fade-in .2s ease-in;
  margin-top: 42px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    margin-top: 52px;
  }
  to {
    opacity: 1;
    margin-top: 42px;
  }
}

.header-btn__btn {
  font-size: 17px;
  padding: 9px 16px;
  border-color: transparent !important;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 4px;
}

.header-btn__btn:hover {
  transform: translate(0, -4px);
  border-color: none !important;
  background-color:#335eea;
  transition: .25s ease;
}

.drop-link,
.drop-list-item {
  text-decoration: none;
}

.drop-list-item {
  font-size: .75rem;
  letter-spacing: .08em;
  line-height: 1.55;
}

.drop-link {
  color: #506690;
  font-weight: 400;
  text-align: inherit;
  font-size: .9375rem;
}

.drop-item {
  padding-left: 28px !important;
  margin-top: 39px;
}

.drop-item:nth-child(2) {
  margin-top: 11px;
}

.drop-account-item {
  padding-left: 16px !important;
}

.cvdv {
  margin-top: 2000px;
}

///////////////////////////////////

.list-open-box {
  min-width: 100% !important;
  height: 100% !important;
  margin: 0 auto;
  padding: 16px;
  margin-top: -58px;
}

.openbox {
  width: 100%;
  height: 100%;
  box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 15%);
  background-color: #fff !important;
  padding-bottom: 5px;
}

.openbox-title {
  font-weight: 600;
  color: #506690;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  font-size: 1.0625rem;
}

.openbox-list,
.landings-list {
  margin-top: 27px;
  margin-left: 11px;
}

.openbox-list-event {
  margin-top: 12px;

}

.openbox-close-btn {
  margin-top: -19px;
  margin-right: 14px;
}

.openbox-inner {
  height: 100%;
  height: 100%;
  overflow: auto;
}

.landings-list,
.landings-title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .08em;
  line-height: 1.55;
  padding-bottom: 0.5rem;
  padding-top: 0;
  padding-left: 0 ;
}

.landing-main-content {
  max-width: 958px;
  margin-left: 0;
}

.landing-link {
  color: #506690;
  font-size: 15px;
}

.help-center {
  width: 100px;
}

.needly-w {
  width: 140px;
}

////////////////
// RESPONSIVE FOR DESKTOP
@media (max-width: 1199px) {
  .header {
    max-width: 960px;
  }
}

///////////////////////////////////////

// RESPONSIVE FOR TABLET
@media (max-width: 991px) {
  .header {
    max-width: 720px;
    margin-top: 29px !important;
  }
  
  .nav {
    display: none !important;
  }

  .header-btn {
    display: none !important;
  }

  .list-btn-box {
    display: block !important;
  }

  .list-btn-box-btn {
    margin-right: 13px;
    margin-top: -1px;
  }
}

/////////////////////////////////////////

// RESPONSIVE FOR MOBILE
@media (max-width: 767px) {
  .header {
    max-width: 540px;
  }
}